@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
  --color-primary: hwb(202 76% 0%);
  --color-primary-dark: hwb(215 1% 86%);
  --color-accent: hwb(213 49% 21%);
  --color-card: hwb(206 94% 3%);
  --color-input: hsl(224, 22%, 90%);
  --color-text: hwb(240 4% 95%);
  --color-placeholder: hwb(210 33% 30%);
  --color-border: hwb(240 83% 7%);
  --color-gradient: linear-gradient(to left top, #e6edf5, #cddbeb, #b4c9e1, #9cb7d8, #84a5ce);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  min-height: 100dvh;
  background-image: var(--color-gradient);
  padding: 1rem;
}

body.dark-theme {
  --color-card: #1E293B;
  --color-input: #141B2D;
  --color-text: #F3F4F6;
  --color-placeholder: #A3B6DC;
  --color-border: #334155;

  background: var(--color-card);
  background-image: radial-gradient(circle at 15% 50%, rgba(99, 102, 241, 0.15) 0%, transparent 35%), radial-gradient(circle at 85% 30%, rgba(139, 92, 246, 0.15) 0%, transparent 35%), radial-gradient(circle at 50% 80%, rgba(99, 102, 241, 0.1) 0%, transparent 40%);
}

.container {
  width: 900px;
  padding: 32px;
  border-radius: .5rem;
  background-color: var(--color-card);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-wrapper .logo {
  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border-radius: .5rem;
  background-image: radial-gradient(circle, #25927a, #009a96, #00a0b1, #0fa4c8, #4ba7da, #55afe4, #5fb7ee, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: hwb(0 100% 0%);
  font-size: 1.3rem;
}

.logo-wrapper h1 {
  font-size: 1.9rem;
  font-weight: 700;
}

.toggle-theme {
  height: 40px;
  width: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: var(--color-primary);
}

.main-content {
  margin: 35px 0 5px;
}

.prompt-container {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.prompt-input {
  width: 100%;
  line-height: 1.6;
  font-size: 1.05rem;
  color: var(--color-text);
  background-color: var(--color-input);
  border: 1px solid var(--color-border);
  min-height: 120px;
  padding: 16px 20px;
  border-radius: .5rem;
  resize: vertical;
  field-sizing: content;
  border: none;
  transition: 300ms ease;

  &:focus {
    border: none;
    outline: none;
    box-shadow: var(--color-accent) 0px 0px 0px 1px, hwb(216 82% 14% / 0.993) 0px 0px 0px 1px inset;
  }

  &:placeholder {
    color: var(--color-accent);
  }
}

.prompt-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: 40px;
  width: 60px;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  border-radius: .5rem;
  background-image: radial-gradient(circle, #25927a, #009a96, #00a0b1, #0fa4c8, #4ba7da, #55afe4, #5fb7ee, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: #ffff;
  opacity: 0.7;
  transition: 300ms ease-in;

  &:hover {
    opacity: 1;
  }
}

.pormpt-actions {
  display: grid;
  gap: 14px;
  grid-template-columns: 1.2fr 1fr 1.1fr 1fr;
}

.pormpt-actions :where(.custom-select, .generate-btn) {
  cursor: pointer;
  background-color: var(--color-input);
  border: 1px solid var(--color-border);
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: .5rem;
}

.custom-select {
  width: 100%;
  outline: none;
  height: 100%;
  appearance: none;
  transition: 200ms ease-in;
}

.selected-wrapper {
  position: relative;
}

.selected-wrapper .ri-arrow-drop-down-line {
  position: absolute;
  right: 5px;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
  color: var(--color-text);
  font-size: 1.5rem;
}

.generate-btn {
  display: flex;
  gap: 1rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  border: none;
  color: #ffffff;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  transition: 200ms ease;
  margin-left: auto;

  &:hover {
    transform: translateY(-2px);
  }
}

.custom-select:is(:hover, :focus) {
  border-color: var(--color-accent);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* gallery grid */

.gallery-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.gallery-grid:has(.img-card) {
  margin-top: 30px;
}

.gallery-grid .img-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 1rem;
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  transition: 300ms ease;

  &:hover .img-overlay {
    opacity: 1;
    pointer-events: auto;
  }

  &:not(.loading, .error):hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px hwb(0 0% 100% / 0);
  }
}

.img-card:is(.loading, .error) :is(.result-img, .img-overlay) {
  display: none;
}

.img-card .result-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-card .img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: 0;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(transparent, hwb(0 0% 100% / 0.616));
  transition: 300ms ease;
}

.img-donwload-btn {
  width: 40px;
  height: 40px;
  color: var(--color-primary);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: hwb(0 100% 0% / 0.336);
  font-size: 1.2rem;
  transition: 200ms ease;

  &:hover {
    transform: scale(1.05);
    background-color: hwb(0 100% 0% / 0.4);
  }
}

.img-card.loading .spiner {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid var(--color-border);
  border-top-color: var(--color-accent);
  animation: spiner 1s linear infinite;
}

.img-card:where(.loading, .error) .status-container {
  display: flex;
}

.img-card:is(.loading) .spiner {
  display: block;
}

.img-card.loading .status-container i,
.img-card.error .spiner {
  display: none;
}

.status-container i {
  font-size: 1.7rem;
  color: hwb(0 27% 6%);
}

.status-container {
  padding: 15px;
  display: none;
  gap: 13px;
  flex-direction: column;
  align-items: center;
}

@keyframes spiner {
  to {
    transform: rotate(360deg);
  }
}

.status-text {
  color: var(--color-placeholder);
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500;
}